# $all

The $all operator selects the documents where the value of a field is an array that contains all the specified elements. To specify an $all expression, use the following prototype:

{ <field>: { $all: [ <value1> , <value2> ... ] } }

# field 要是一個 array 且 包含 value1、value2...

# $in

The $in operator selects the documents where the value of a field equals any value in the specified array. To specify an $in expression, use the following prototype:

{ field: { $in: [<value1>, <value2>, ... <valueN> ] } }

If the field holds an array, then the $in operator selects the documents whose field holds an array that contains at least one element that matches a value in the specified array (for example, <value1>, <value2>, and so on).

# 假如 field 是一個值，值要落進去指定的元素。
# 假如 field 是一個 array，array 中的至少一個值要落進去指定的元素。

# $nin

$nin selects the documents where:
the field value is not in the specified array or
the field does not exist.

If the field holds an array, then the $nin operator selects the documents whose field holds an array with no element equal to a value in the specified array (for example, <value1>, <value2>, and so on).

Syntax: { field: { $nin: [ <value1>, <value2> ... <valueN> ] } }

# 假如 field 是一個值，值不能落進去指定的元素。
# 假如 field 是一個 array，array 中的全部的值都不能落進去指定的元素。

# $not

Syntax: { field: { $not: { <operator-expression> } } }

$not performs a logical NOT operation on the specified <operator-expression> and selects the documents that do not match the <operator-expression>. This includes documents that do not contain the field.

Consider the following query:

db.inventory.find( { price: { $not: { $gt: 1.99 } } } )

# $split(aggregation)

Divides a string into an array of substrings based on a delimiter. $split removes the delimiter and returns the resulting substrings as elements of an array. If the delimiter is not found in the string, $split returns the original string as the only element of an array.

$split has the following operator expression syntax:

{ $split: [ <string expression>, <delimiter> ] }

# $size

The $size operator matches any array with the number of elements specified by the argument. For example:

db.collection.find( { field: { $size: 2 } } )

### 範例01

db.grades.insertMany([
  { _id: 1, quizzes: [ 5, 6, 7 ] },
  { _id: 2, quizzes: [ ] },
  { _id: 3, quizzes: [ 3, 8, 9 ] }
])

In [ ]:
db.grades.aggregate([
    {
        $project: {
            size: { $size: "$quizzes" }
        }
    }
])

This operation returns the following results:

{ "_id" : 1, "size" : 3 }
{ "_id" : 2, "size" : 0 }
{ "_id" : 3, "size" : 3 }

# $type

$type selects documents where the value of the field is an instance of the specified BSON type(s). Querying by data type is useful when dealing with highly unstructured data where data types are not predictable.

A $type expression for a single BSON type has the following syntax:

{ field: { $type: <BSON type> } }

[BSON type](https://www.mongodb.com/docs/manual/reference/operator/query/type/#std-label-document-type-available-types")

# $elemMatch (query)

The $elemMatch operator matches documents that contain an array field with at least one element that matches all the specified query criteria.

{ <field>: { $elemMatch: { <query1>, <query2>, ... } } }

### 範例01

There are times when we want to make sure that the field is an array, and that it is not empty. We can do this within $match

{ $match: { writers: { $elemMatch: { $exists: true } } }

# $map(aggregation)

Applies an expression to each item in an array and returns an array with the applied results.
The $map expression has the following syntax:

{ $map: { input: <expression>, as: <string>, in: <expression> } }

Field         Specification

input         An expression that resolves to an array.

as            Optional. A name for the variable that represents each individual element of the input array. If no name is                 specified, the variable name defaults to this.

in            An expression that is applied to each element of the input array. The expression references each element                   individually with the variable name specified in as.

### 範例01

In [ ]:
db.grades.insertMany([
  { _id: 1, quizzes: [ 5, 6, 7 ] },
  { _id: 2, quizzes: [ ] },
  { _id: 3, quizzes: [ 3, 8, 9 ] }
])

In [ ]:
db.grades.aggregate([
    {
        $project: {
            adjustedGrades: {
                $map: {
                    input: "$quizzes",
                    as: "grade",
                    in: { $add: ["$$grade", 2 ]}
                }
            }
        }
    }
])

This operation returns the following results:

{ "_id" : 1, "adjustedGrades" : [ 7, 8, 9 ] }
{ "_id" : 2, "adjustedGrades" : [ ] }
{ "_id" : 3, "adjustedGrades" : [ 5, 10, 11 ] }

# $arrayElemAt (aggregation)

Returns the element at the specified array index.
$arrayElemAt has the following syntax:

{ $arrayElemAt: [ <array>, <idx> ] }

### 範例01

{ "_id" : 1, "name" : "dave123", favorites: [ "chocolate", "cake", "butter", "apples" ] }
{ "_id" : 2, "name" : "li", favorites: [ "apples", "pudding", "pie" ] }
{ "_id" : 3, "name" : "ahn", favorites: [ "pears", "pecans", "chocolate", "cherries" ] }
{ "_id" : 4, "name" : "ty", favorites: [ "ice cream" ] }

In [ ]:
db.users.aggregate([
   {
     $project:
      {
         name: 1,
         first: { $arrayElemAt: [ "$favorites", 0 ] },
         last: { $arrayElemAt: [ "$favorites", -1 ] }
      }
   }
])

The operation returns the following results:

{ "_id" : 1, "name" : "dave123", "first" : "chocolate", "last" : "apples" }
{ "_id" : 2, "name" : "li", "first" : "apples", "last" : "pie" }
{ "_id" : 3, "name" : "ahn", "first" : "pears", "last" : "cherries" }
{ "_id" : 4, "name" : "ty", "first" : "ice cream", "last" : "ice cream" }

# $setIntersection (aggregation)

Takes two or more arrays and returns an array that contains the elements that appear in every input array.
$setIntersection has the following syntax:

{ $setIntersection: [ <array1>, <array2>, ... ] }

# $cond (aggregation)

Evaluates a boolean expression to return one of the two specified return expressions.
The $cond expression has one of two syntaxes:

{ $cond: [ <boolean-expression>, <true-case>, <false-case> ] }

# $isArray (aggregation)

Determines if the operand is an array. Returns a boolean.
$isArray has the following syntax:

{ $isArray: [ <expression> ] }

# $reduce (aggregation)

Applies an expression to each element in an array and combines them into a single value.
$reduce has the following syntax:

{
    $reduce: {
        input: <array>,
        initialValue: <expression>,
        in: <expression>
    }
}

### 範例01

In [ ]:
 {
    $reduce: {
       input: ["a", "b", "c"],
       initialValue: "",
       in: { $concat : ["$$value", "$$this"] }
     }
 }

The operation returns the following results:

"abc"

# $regex 的操作

Provides regular expression capabilities for pattern matching strings in queries. MongoDB uses Perl compatible regular expressions (i.e. "PCRE" ) version 8.42 with UTF-8 support.
To use $regex, use one of the following syntaxes:

{ <field>: { $regex: /pattern/, $options: '<options>' } }
{ <field>: { $regex: 'pattern', $options: '<options>' } }
{ <field>: { $regex: /pattern/<options> } }

In MongoDB, you can also use regular expression objects (i.e. /pattern/) to specify regular expressions:

{ <field>: /pattern/<options> }

# $trunc (aggregation)

$trunc truncates a number to a whole integer or to a specified decimal place.
MongoDB 4.2 adds the following syntax for $trunc:

{ $trunc : [ <number>, <place> ] }

Prior to MongoDB 4.2, $trunc truncated the input value to the whole integer. MongoDB 4.2 continues supporting the pre-4.2 syntax and behavior:

{ $trunc: <number> }

The <number> expression can be any valid expression as long as it resolves to a number. For more information on expressions, see Expressions.

# $addToSet (aggregation)

Returns an array of all unique values that results from applying an expression to each document in a group of documents that share the same group by key. Order of the elements in the output array is unspecified.
$addToSet is only available in the $group stage.
$addToSet has the following syntax:

{ $addToSet: <expression> }

# $push (aggregation)

Returns an array of all values that result from applying an expression to each document in a group of documents that share the same group by key.

$push is only available in the $group stage.
$push has the following syntax:

{ $push: <expression> }

# $concat (aggregation)

Concatenates strings and returns the concatenated string.
$concat has the following syntax:

{ $concat: [ <expression1>, <expression2>, ... ] }

The arguments can be any valid expression as long as they resolve to strings. For more information on expressions, see Expressions.

# $substr (aggregation)

Deprecated since version 3.4: $substr is now an alias for $substrBytes.
Returns a substring of a string, starting at a specified index position and including the specified number of characters. The index is zero-based.

$substr has the following syntax:

{ $substr: [ <string>, <start>, <length> ] }

# $replaceWith (aggregation)

Replaces the input document with the specified document. The operation replaces all existing fields in the input document, including the _id field. With $replaceWith, you can promote an embedded document to the top-level. You can also specify a new document as the replacement.

The $replaceWith is an alias for $replaceRoot.
The $replaceWith stage has the following form:

{ $replaceWith: <replacementDocument> }

### 範例01

db.students.insertMany([
   {
      "_id" : 1,
      "grades" : [
         { "test": 1, "grade" : 80, "mean" : 75, "std" : 6 },
         { "test": 2, "grade" : 85, "mean" : 90, "std" : 4 },
         { "test": 3, "grade" : 95, "mean" : 85, "std" : 6 }
      ]
   },
   {
      "_id" : 2,
      "grades" : [
         { "test": 1, "grade" : 90, "mean" : 75, "std" : 6 },
         { "test": 2, "grade" : 87, "mean" : 90, "std" : 3 },
         { "test": 3, "grade" : 91, "mean" : 85, "std" : 4 }
      ]
   }
])

In [ ]:
db.students.aggregate( [
   { $unwind: "$grades" },
   { $match: { "grades.grade" : { $gte: 90 } } },
   { $replaceWith: "$grades" }
] )

{ "test" : 3, "grade" : 95, "mean" : 85, "std" : 6 }
{ "test" : 1, "grade" : 90, "mean" : 75, "std" : 6 }
{ "test" : 3, "grade" : 91, "mean" : 85, "std" : 4 }

### 範例02

db.people.insertMany([
   { "_id" : 1, "name" : "Arlene", "age" : 34, "pets" : { "dogs" : 2, "cats" : 1 } },
   { "_id" : 2, "name" : "Sam", "age" : 41, "pets" : { "cats" : 1, "fish" : 3 } },
   { "_id" : 3, "name" : "Maria", "age" : 25 }
])

The following operation uses the $replaceWith stage to replace each input document with the result of a $mergeObjects operation. The $mergeObjects expression merges the specified default document with the pets document.

In [ ]:
db.people.aggregate( [
   { $replaceWith: { $mergeObjects:  [ { dogs: 0, cats: 0, birds: 0, fish: 0 }, "$pets" ] } }
] )

{ "dogs" : 2, "cats" : 1, "birds" : 0, "fish" : 0 }
{ "dogs" : 0, "cats" : 1, "birds" : 0, "fish" : 3 }
{ "dogs" : 0, "cats" : 0, "birds" : 0, "fish" : 0 }

# $replaceRoot (aggregation)

Replaces the input document with the specified document. The operation replaces all existing fields in the input document, including the _id field. You can promote an existing embedded document to the top level, or create a new document for promotion.

The $replaceRoot stage has the following form:

{ $replaceRoot: { newRoot: <replacementDocument> } }

### 範例01

{ "_id" : 1, "name" : "Arlene", "age" : 34, "pets" : { "dogs" : 2, "cats" : 1 } }
{ "_id" : 2, "name" : "Sam", "age" : 41, "pets" : { "cats" : 1, "fish" : 3 } }
{ "_id" : 3, "name" : "Maria", "age" : 25 }

In [ ]:
db.people.aggregate( [
   { $replaceRoot: { newRoot: { $mergeObjects:  [ { dogs: 0, cats: 0, birds: 0, fish: 0 }, "$pets" ] }} }
] )

{ "dogs" : 2, "cats" : 1, "birds" : 0, "fish" : 0 }
{ "dogs" : 0, "cats" : 1, "birds" : 0, "fish" : 3 }
{ "dogs" : 0, "cats" : 0, "birds" : 0, "fish" : 0 }

# $$ROOT 的意思

{
    "_id" : ObjectId("b9"),
    "key" : 1,
    "value" : 20,
    "history" : ISODate("2020-05-16T00:00:00Z")
},
{
    "_id" : ObjectId("ba"),
    "key" : 1,
    "value" : 10,
    "history" : ISODate("2020-05-13T00:00:00Z")
},
{
    "_id" : ObjectId("bb"),
    "key" : 3,
    "value" : 50,
    "history" : ISODate("2020-05-12T00:00:00Z")
},
{
    "_id" : ObjectId("bc"),
    "key" : 2,
    "value" : 0,
    "history" : ISODate("2020-05-13T00:00:00Z")
},
{
    "_id" : ObjectId("bd"),
    "key" : 2,
    "value" : 10,
    "history" : ISODate("2020-05-16T00:00:00Z")
}

Now based on the history field you want to group and insert the whole documents in to an array field 'items'. Here $$ROOT variable will be helpful.

So, the aggregation query to achieve the above will be:

In [ ]:
db.collection.aggregate([{
    $group: {
        _id: '$history',
        items: {$push: '$$ROOT'}
    }
}])

{
    "_id" : ISODate("2020-05-12T00:00:00Z"),
    "items" : [
        {
            "_id" : ObjectId("bb"),
            "key" : 3,
            "value" : 50,
            "history" : ISODate("2020-05-12T00:00:00Z")
        }
    ]
},
{
    "_id" : ISODate("2020-05-13T00:00:00Z"),
    "items" : [
        {
            "_id" : ObjectId("ba"),
            "key" : 1,
            "value" : 10,
            "history" : ISODate("2020-05-13T00:00:00Z")
        },
        {
            "_id" : ObjectId("bc"),
            "key" : 2,
            "value" : 0,
            "history" : ISODate("2020-05-13T00:00:00Z")
        }
    ]
},
{
    "_id" : ISODate("2020-05-16T00:00:00Z"),
    "items" : [
        {
            "_id" : ObjectId("b9"),
            "key" : 1,
            "value" : 20,
            "history" : ISODate("2020-05-16T00:00:00Z")
        },
        {
            "_id" : ObjectId("bd"),
            "key" : 2,
            "value" : 10,
            "history" : ISODate("2020-05-16T00:00:00Z")
        }
    ]
}

# $indexStats (aggregation)

Returns statistics regarding the use of each index for the collection. If running with access control, the user must have privileges that include indexStats action.

The $indexStats stage takes an empty document and has the following syntax:

{ $indexStats: { } }

# $indexStats must be the first stage in an aggregation pipeline.

# $strLenCP (aggregation)

Returns the number of UTF-8 code points in the specified string.

$strLenCP has the following operator expression syntax:

{ $strLenCP: <string expression> }

### 範例01

{ "_id" : 1, "name" : "apple" }
{ "_id" : 2, "name" : "banana" }
{ "_id" : 3, "name" : "éclair" }
{ "_id" : 4, "name" : "hamburger" }
{ "_id" : 5, "name" : "jalapeño" }
{ "_id" : 6, "name" : "pizza" }
{ "_id" : 7, "name" : "tacos" }
{ "_id" : 8, "name" : "寿司" }

In [ ]:
db.food.aggregate(
  [
    {
      $project: {
        "name": 1,
        "length": { $strLenCP: "$name" }
      }
    }
  ]
)

{ "_id" : 1, "name" : "apple", "length" : 5 }
{ "_id" : 2, "name" : "banana", "length" : 6 }
{ "_id" : 3, "name" : "éclair", "length" : 6 }
{ "_id" : 4, "name" : "hamburger", "length" : 9 }
{ "_id" : 5, "name" : "jalapeño", "length" : 8 }
{ "_id" : 6, "name" : "pizza", "length" : 5 }
{ "_id" : 7, "name" : "tacos", "length" : 5 }
{ "_id" : 8, "name" : "寿司", "length" : 2 }

# $toUpper (aggregation)

Converts a string to uppercase, returning the result.

$toUpper has the following syntax:

{ $toUpper: <expression> }

# $filter (aggregation)

Selects a subset of an array to return based on the specified condition. Returns an array with only those elements that match the condition. The returned elements are in the original order.

$filter has the following syntax:

{ $filter: { input: <array>, as: <string>, cond: <expression> } }

### 範例01

{
   _id: 0,
   items: [
     { item_id: 43, quantity: 2, price: 10 },
     { item_id: 2, quantity: 1, price: 240 }
   ]
}
{
   _id: 1,
   items: [
     { item_id: 23, quantity: 3, price: 110 },
     { item_id: 103, quantity: 4, price: 5 },
     { item_id: 38, quantity: 1, price: 300 }
   ]
}
{
    _id: 2,
    items: [
       { item_id: 4, quantity: 1, price: 23 }
    ]
}

In [ ]:
db.sales.aggregate([
   {
      $project: {
         items: {
            $filter: {
               input: "$items",
               as: "item",
               cond: { $gte: [ "$$item.price", 100 ] }
            }
         }
      }
   }
])

The operation produces the following results:

{
   "_id" : 0,
   "items" : [
      { "item_id" : 2, "quantity" : 1, "price" : 240 }
   ]
}
{
   "_id" : 1,
   "items" : [
      { "item_id" : 23, "quantity" : 3, "price" : 110 },
      { "item_id" : 38, "quantity" : 1, "price" : 300 }
   ]
}
{ "_id" : 2, "items" : [ ] }

# $slice (projection)

The $slice projection operator specifies the number of elements in an array to return in the query result.

Syntax: 
The $slice has one of the following syntax forms:

In [ ]:
db.collection.find(
   <query>,
   { <arrayField>: { $slice: <number> } }
)

or

In [ ]:
db.collection.find(
   <query>,
   { <arrayField>: { $slice: [ <number to skip>, <number to return> ] } }
)