# Comparison Operators

<img src="img/4.png">

<img src="img/5.png">

Switch to this database:

In [ ]:
use sample_training

Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was not Subscriber:

In [ ]:
db.trips.find({
    tripduration: { "$lte": 70 },
    usertype: { "$ne": "Subscriber" }
    
}).pretty()

Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was Customer using a redundant equality operator:

In [ ]:
db.trips.find({ 
    "tripduration": { "$lte" : 70 },
    "usertype": { "$eq": "Customer" }
}).pretty()

Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was Customer using the implicit equality operator:

In [ ]:
db.trips.find({ "tripduration": { "$lte" : 70 },
                "usertype": "Customer" }).pretty()

---

# Query operators provide addtional ways to locate data within the database
# Comparison operators specifically allow us to find data within a certain range
  { <field>: { <operator>: <value> }}
# "$eq" is used as the default operator when an operator is not specified

### 範例01

How many documents in the sample_training.zips collection have fewer than 1000 people listed in the pop field?

In [ ]:
db.zips.find({
    pop: { "$lt": 1000 }
}).count()

### 範例02

What is the difference between the number of people born in 1998 and the number of people born after 1998 in the sample_training.trips collection?

In [ ]:
db.trips.find({
    "birth year": 1998
}).count()


db.trips.find({
    "birth year": { "$gt": 1998 }
}).count()

# Logic Operators

<img src="img/6.png">

<img src="img/7.png">

In [ ]:
db.inspections.find({
    "$nor": [ { result: "No Violation Issued" }, { result: "Violation Issued"}]
}).pretty()

### Implict $and

$and is used as the default operator when an operator is not specified
{ sector: "Mobile Food  Vendor - 881", result: "Warning"}

is the same as:
{ "$and": [ { sector: "Mobile Food  Vendor - 881" }, { result: "Warning" }]}

Find which student ids are > 25 and < 100 in the sample_training.grades collection
{ "$and": [ { "student_id": { "$gt": 25}}, { "student_id": { "$lt": 100 }}]}

better

{ "student_id": { "$gt": 25, "$lt": 100 }}

### Explicit $and

When you need to include the same operator more than once in a query
Using the routes collection find out how many CR2 and A81 airplanes come through the KNZ airport

{ "$or": [ { "dst_airport": "KZN" }, { "src_airport": "KZN" }]}

and

{ "$or" [ { "airplane": "CR2" }, { "airplane": "A81" }]}

In [ ]:
db.routes.find({ "$and": [ { "$or" :[ { "dst_airport": "KZN" },
                                    { "src_airport": "KZN" }
                                  ] },
                          { "$or" :[ { "airplane": "CR2" },
                                     { "airplane": "A81" } ] }
                         ]}).pretty()

### 範例01

How many businesses in the sample_training.inspections dataset have the inspection result "Out of Business" and belong to the "Home Improvement Contractor - 100" sector?

In [ ]:
db.inspections.find({
    result: "Out of Business",
    sector: "Home Improvement Contractor - 100"
}).count()

### 範例02

Which is the most succinct query to return all documents from the sample_training.inspections collection where the inspection date is either "Feb 20 2015", or "Feb 21 2015" and the company is not part of the "Cigarette Retail Dealer - 127" sector?

In [ ]:
db.inspections.find({
    "$or": [{ date: "Feb 20 2015"}, { date: "Feb 21 2015" }],
    sector: { "$ne": "Cigarette Retail Dealer - 127" }
}).pretty()

### 範例03

How many zips in the sample_training.zips dataset are neither over-populated nor under-populated?

In this case, we consider population of more than 1,000,000 to be over- populated and less than 5,000 to be under-populated.

In [ ]:
db.zips.find({
    pop: { "$gte": 5000, "$lte": 1000000 }
}).count()

You could also use the $nor operator if you want to use a logic operator like so:

In [ ]:
db.zips.find({ "$nor": [ { "pop": { "$lt":5000 } },
             { "pop": { "$gt": 1000000 } } ] } ).count()

### 範例04

How many companies in the sample_training.companies dataset were
either founded in 2004
       [and] either have the social category_code [or] web category_code,
[or] were founded in the month of October
       [and] also either have the social category_code [or] web category_code?

In [ ]:
db.companies.find({
    "$and": [{ "$or": [ { founded_year: 2004}, { founded_month: 10 }]}, { "$or": [ { category_code: "web" }, { category_code: "social" } ]}]
}).count()

# Expressive Query Operator

### Expressive $expr

$expr allows the use of aggregation expressions within the query language
{ "$expr": { <expression> }}

$expr allows us to use variables and conditional statements

Can We compare fields within the same document to each other

Switch to this database:

In [ ]:
use sample_training

Find all documents where the trip started and ended at the same station:

In [ ]:
db.trips.find({
    "$expr": {
        "$eq": [ "$end station id", "$start station id"]
    }
}).count()

Find all documents where the trip lasted longer than 1200 seconds, and started and ended at the same station:

In [ ]:
db.trips.find({
    "$expr": {
        "$and": [{ "$eq": [ "$end station id", "$start station id" ]}, { "$gt": [ "$tripduration", 1200 ]}]
    }
}).count()

<img src="img/8.png">

---

# Allows for more complex queries and for comparing fields within a document
# The $ can be used to access the field value
# Syntax for comparison operators using aggregation:
  { <operator>: { <field>, <value> }}

### 範例01

Which of the following statements will find all the companies that have more employees than the year in which they were founded?

In [ ]:
(勾) db.companies.find(
    { "$expr": { "$lt": [ "$founded_year", "$number_of_employees" ] } }
  ).count()

In [ ]:
( ) db.companies.find({ "number_of_employees": { "$gt":  "$founded_year" }
                  }).count()

In [ ]:
( ) db.companies.find(
  { "$expr": { "$gt": [ "$founded_year", "$number_of_employees" ] } }
).count()

In [ ]:
(勾) db.companies.find(
    { "$expr": { "$gt": [ "$number_of_employees", "$founded_year" ]} }
  ).count()

### 範例02

How many companies in the sample_training.companies collection have the same permalink as their twitter_username?

In [ ]:
db.companies.find({
    "$expr": { "$eq": [ "$permalink", "$twitter_username" ]}
}).count()

# Array Operators

Querying an array field using an array returns only exact array matches

In [ ]:
db.listingsAndReviews.find({
    amenities: [ "Shampoo" ]
}).pretty()

Querying an array field using a single element will return all documents where the specified array field contains this given element

In [ ]:
db.listingsAndReviews.find({
    amenities: "Shampoo" 
}).pretty()

{ <array field>: { $size": <number> }}
Returns a cursor with all documents where the specified array field is exactly the given length

In [ ]:
db.listingsAndReviews.find({
    amenities: { "$size": 20 }
})

{ <array field>: { "$all": <array> }}
Returns a cursor with all documents in which the specified array field contains all the given elements regardless of their order in the array

In [ ]:
db.listingsAndReviews.find({
    amenities: { "$all": [ "Shampoo", "Wifi" ] }
}).pretty()

### 範例01

What is the name of the listing in the sample_airbnb.listingsAndReviews dataset that accommodates more than 6 people and has exactly 50 reviews?

In [ ]:
db.listingsAndReviews.find({
    accommodates: { "$gt": 6 },
    reviews: { "$size": 50 }
}, {_id: 0, name: 1}).pretty()

### 範例02

Using the sample_airbnb.listingsAndReviews collection find out how many documents have the "property_type" "House", and include "Changing table" as one of the "amenities"?

In [ ]:
db.listingsAndReviews.find({
    property_type: "House",
    amenities: "Changing table"
}).count()

### 範例03

Which of the following queries will return all listings that have "Free parking on premises", "Air conditioning", and "Wifi" as part of their amenities, and have at least 2 bedrooms in the sample_airbnb.listingsAndReviews collection?

In [ ]:
db.listingsAndReviews.find({
    "amenities": { "$all": [ "Free parking on premises", "Wifi", "Airconditioning" ] }, 
    "bedrooms": { "$gte":  2 } 
}).pretty()

# Array Operators and Projection

Switch to this database:

In [ ]:
use sample_airbnb

Find all documents with exactly 20 amenities which include all the amenities listed in the query array, and display their price and address:

In [ ]:
db.listingsAndReviews.find({ "amenities":
        { "$size": 20, "$all": [ "Internet", "Wifi",  "Kitchen", "Heating",
                                 "Family/kid friendly", "Washer", "Dryer",
                                 "Essentials", "Shampoo", "Hangers",
                                 "Hair dryer", "Iron",
                                 "Laptop friendly workspace" ] } },
                            {"price": 1, "address": 1}).pretty()

Find all documents that have Wifi as one of the amenities only include price and address in the resulting cursor:

In [ ]:
db.listingsAndReviews.find({ "amenities": "Wifi" },
                           { "price": 1, "address": 1, "_id": 0 }).pretty()

Find all documents that have Wifi as one of the amenities only include price and address in the resulting cursor, also exclude ``"maximum_nights"``. **This will be an error:*

In [ ]:
db.listingsAndReviews.find({ "amenities": "Wifi" },
                           { "price": 1, "address": 1,
                             "_id": 0, "maximum_nights":0 }).pretty()

Switch to this database:

In [ ]:
use sample_training

Get one document from the collection:

In [ ]:
db.grades.findOne()

Find all documents where the student in class 431 received a grade higher than 85 for any type of assignment:

In [ ]:
# 在做 projection，使用 $elemMatch
db.grades.find({
    class_id: 431
}, {scores: { "$elemMatch": { "score": { "$gt": 85 }}}} ).pretty()

Find all documents where the student had an extra credit score:

In [ ]:
db.grades.find({
    scores: { "$elemMatch": { "type": "extra credit" }}
}).pretty()

<img src="img/9.png">

### 範例01

How many companies in the sample_training.companies collection have offices in the city of Seattle?

In [ ]:
db.companies.find({
    offices: { "$elemMatch": { "city": "Seattle" }}
}).count()

# Array Operators and Sub-Documents

In [ ]:
use sample_training

In [ ]:
# 用 . 可以到 sub-document 
db.trips.findOne({ "start station location.type": "Point" })

In [ ]:
# 用數字來表示要 array 的第幾個元素
db.companies.find({ "relationships.0.person.last_name": "Zuckerberg" },
                  { "name": 1 }).pretty()

In [ ]:
db.companies.find({ "relationships.0.person.first_name": "Mark",
                    "relationships.0.title": { "$regex": "CEO" } },
                  { "name": 1 }).pretty()

In [ ]:
db.companies.find({ "relationships":
                      { "$elemMatch": { "is_past": true,
                                        "person.first_name": "Mark" } } },
                  { "name": 1 }).pretty()

All senior executives named Mark listed in the relationships array who no longer work at their company

In [ ]:
db.companies.find({
    relationships: { "$elemMatch": {"is_past": true, "person.first_name": "Mark" } }
}, { name: 1})

### 範例01

How many trips in the sample_training.trips collection started at stations that are to the west of the -74 longitude coordinate?

Longitude decreases in value as you move west.

Note: We always list the longitude first and then latitude in the coordinate pairs; i.e.
<field_name>: [ <longitude>, <latitude> ]

In [ ]:
db.trips.find({
    "start station location.coordinates.0": { "$lte": -74 }
}).count()

### 範例02

How many inspections from the sample_training.inspections collection were conducted in the city of NEW YORK?

In [ ]:
db.inspections.find({
    "address.city": "NEW YORK"
}).count()

---

# MOL uses dot-notation to specify the address of nested elements in  a document
# To use dot-notation in arrays specify the position of the element in the array
# db.collection.find({ "field 1.other field.also a field": "valuse" })