# Inserting New Documents - ObjectId

# "_id" unique identifier for a document in a collection
# "_id" required in every MongoDB document
#  ObjectID() is the default value for the "_id" field unless otherwise specified

# Inserting New Documents - insert() and errors

# Identical documents can exist in the same collection as long as their _id values are different
# MongoDB has schema validation functionality allows you to enforce document structure

# Inserting New Documents - insert() order

In this lesson we used the following commands:
Insert three test documents:

In [ ]:
db.inspections.insert([ { "test": 1 }, { "test": 2 }, { "test": 3 } ])

Insert three test documents but specify the _id values:

In [ ]:
# 第二個之後會失敗，現在是 {ordered: true}
db.inspections.insert([{ "_id": 1, "test": 1 },{ "_id": 1, "test": 2 },
                       { "_id": 3, "test": 3 }])

Find the documents with _id: 1

In [ ]:
db.inspections.find({ "_id": 1 })

Insert multiple documents specifying the _id values, and using the "ordered": false option.

In [ ]:
# 第一與第三會成功
db.inspections.insert([{ "_id": 1, "test": 1 },{ "_id": 1, "test": 2 },
                       { "_id": 3, "test": 3 }],{ "ordered": false })

Insert multiple documents with _id: 1 with the default "ordered": true setting

In [ ]:
# inspection 少了一個s，所以會成功
db.inspection.insert([{ "_id": 1, "test": 1 },{ "_id": 3, "test": 3 }])

View collections in the active db

In [ ]:
show collections

Switch the active db to training

In [ ]:
use training

View all available databases

In [ ]:
# training database 不會出現，因為現在還沒有任何 document
show dbs

### 範例01

Which of the following commands will successfully insert 3 new documents into an empty pets collection?

In [ ]:
(勾) db.pets.insert([{ "_id": 1, "pet": "cat" },
                { "_id": 1, "pet": "dog" },
                { "_id": 3, "pet": "fish" },
                { "_id": 4, "pet": "snake" }], { "ordered": false })

In [ ]:
( )  db.pets.insert([{ "_id": 1, "pet": "cat" },
                { "_id": 1, "pet": "dog" },
                { "_id": 3, "pet": "fish" },
                { "_id": 4, "pet": "snake" }], { "ordered": true })

In [ ]:
(勾) db.pets.insert([{ "pet": "cat" }, { "pet": "dog" },
                { "pet": "fish" }])

In [ ]:
(勾) db.pets.insert([{ "_id": 1, "pet": "cat" },
                { "_id": 2, "pet": "dog" },
                { "_id": 3, "pet": "fish" },
                { "_id": 3, "pet": "snake" }])

# Updating Documents - Data Explorer

# Updating Documents - mongo shell

Use the sample_training database as your database in the following commands.

In [ ]:
use sample_training

Find all documents in the zips collection where the zip field is equal to "12434".

In [ ]:
db.zips.find({ "zip": "12534" }).pretty()

Find all documents in the zips collection where the city field is equal to "HUDSON".

In [ ]:
db.zips.find({ "city": "HUDSON" }).pretty()

Find how many documents in the zips collection have the city field equal to "HUDSON".

In [ ]:
db.zips.find({ "city": "HUDSON" }).count()

Update all documents in the zips collection where the city field is equal to "HUDSON" by adding 10 to the current value of the "pop" field.

In [ ]:
db.zips.updateMany({ "city": "HUDSON" }, { "$inc": { "pop": 10 } })

Update a single document in the zips collection where the zip field is equal to "12534" by setting the value of the "pop" field to 17630.

In [ ]:
db.zips.updateOne({ "zip": "12534" }, { "$set": { "pop": 17630 } })

Find all documents in the grades collection where the student_id field is 151 , and the class_id field is 339.

In [ ]:
db.grades.find({ "student_id": 151, "class_id": 339 }).pretty()

Find all documents in the grades collection where the student_id field is 250 , and the class_id field is 339.

In [ ]:
db.grades.find({ "student_id": 250, "class_id": 339 }).pretty()

Update one document in the grades collection where the student_id is ``250`` *, and the class_id field is 339 , by adding a document element to the "scores" array.

db.grades.updateOne({ "student_id": 250, "class_id": 339 },
                    { "$push": { "scores": { "type": "extra credit",
                                             "score": 100 }
                                }
                     })

<img src="img/2.png">

# Deleting Documents and Collections

<img src="img/3.png">

In [ ]:
use sample_training

Look at all the docs that have test field equal to 1.

In [ ]:
db.inspections.find({ "test": 1 }).pretty()

Look at all the docs that have test field equal to 3.

In [ ]:
db.inspections.find({ "test": 3 }).pretty()

Delete all the documents that have test field equal to 1.

In [ ]:
db.inspections.deleteMany({ "test": 1 })

Delete one document that has test field equal to 3.

In [ ]:
db.inspections.deleteOne({ "test": 3 })

Inspect what is left of the inspection collection.

In [ ]:
db.inspection.find().pretty()

View what collections are present in the sample_training collection.

In [ ]:
show collections

Drop the inspection collection.

In [ ]:
db.inspection.drop()